<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/stylecss.css" />
        <title>About</title>
    </head>
    <body>
        {{>header}}
        {{>footer}}
    </body>
</html>