<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/stylecss.css" />
        <title>Help</title>
    </head>
    <body>
        {{>header}}
        <h2>{{para}}</h2>
        {{>footer}}
    </body>
</html>